{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load classname %}

    <!-- page content -->
        <div class="right_col" role="main">
          <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Students List </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                   

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                           
                            <th class="column-title">Student Name </th>
                            <th class="column-title">Class </th>
                            
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            
                          </tr>
                        </thead>

                        <tbody>
						{% if students %}
							{% for student in students %}
							  <tr class="even pointer">
							   
								<td class=" ">{{ student.name }}</td>
								<td class=" ">{{ student.classs|cut }}</td>
								<td class=" last"><a href="{% url 'students:deletestudent' student.id %}" class="confirmation">Delete</a> | <a href="{% url 'students:editstudent' student.id %}">Edit</a>
								</td>
							  </tr>
						  {% endfor %}
                        {% else %}
							<tr class="even pointer">
							<td colspan="3">No student in List</td>
							</tr>
						{% endif %} 
                        </tbody>
                      </table>
                    </div>
					<div class="col-md-9 pagination">
						<span class="step-links">
							{% if students.has_previous %}
								<a href="?page={{ students.previous_page_number }}">previous</a>
							{% endif %}

							<span class="current">
								Page {{ students.number }} of {{ students.paginator.num_pages }}.
							</span>

							{% if students.has_next %}
								<a href="?page={{ students.next_page_number }}">next</a>
							{% endif %}
						</span>
					</div>
					<div class="col-md-3 right">
					<a href="{% url 'students:addstudent'%}" class="btn btn-success right">Add Student</a>
					</div>
                  </div>
                </div>
              </div>
        </div>
        <!-- /page content -->
{% endblock %}